<html lang="en">
    <%- include('../partial/head.ejs') %>
    <body>
        <%- include('../partial/nav.ejs') %>
        <div class="about content">
            <h2>About US</h2>
            <p>If you want something with a little flavor, the Touraza template is a tasteful choice. With the "meet the team" section near the top, geometric designs, and striking typography, you'll be able to showcase the humans behind your brand.</p>
            <p>If you want something with a little flavor, the Touraza template is a tasteful choice. With the "meet the team" section near the top, geometric designs, and striking typography, you'll be able to showcase the humans behind your brand.            </p>
            <p>If you want something with a little flavor, the Touraza template is a tasteful choice. With the "meet the team" section near the top, geometric designs, and striking typography, you'll be able to showcase the humans behind your brand. </p>
        </div>
        <%- include('../partial/footer.ejs') %>
    </body>

</html>